-- MySQL dump 10.13  Distrib 8.0.46, for Linux (aarch64)
--
-- Host: localhost    Database: sirvya
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `advisorprofiles`
--

DROP TABLE IF EXISTS `advisorprofiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `advisorprofiles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `userID` bigint unsigned NOT NULL,
  `specialty` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `location` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `companyName` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `bio` varchar(1000) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ville` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `userID` (`userID`),
  CONSTRAINT `fk_advisorProfiles_userID` FOREIGN KEY (`userID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `advisorprofiles`
--

LOCK TABLES `advisorprofiles` WRITE;
/*!40000 ALTER TABLE `advisorprofiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `advisorprofiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_versions`
--

DROP TABLE IF EXISTS `app_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_versions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `platform` enum('ios','android') COLLATE utf8mb4_unicode_ci NOT NULL,
  `latest_version` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `min_required_version` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `store_url` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `updatedAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_platform` (`platform`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_versions`
--

LOCK TABLES `app_versions` WRITE;
/*!40000 ALTER TABLE `app_versions` DISABLE KEYS */;
INSERT INTO `app_versions` VALUES (1,'ios','1.0.1','1.0.1','https://apps.apple.com/app/idYOUR_APP_ID','2026-09-07 10:10:40'),(2,'android','1.0.1','1.0.1','https://play.google.com/store/apps/details?id=com.fitlek.app','2026-09-07 10:10:40');
/*!40000 ALTER TABLE `app_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authtokens`
--

DROP TABLE IF EXISTS `authtokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authtokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `userID` bigint unsigned NOT NULL,
  `refreshToken` varchar(512) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `deviceInfo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `expiresAt` datetime NOT NULL,
  `revokedAt` datetime DEFAULT NULL,
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `refreshToken` (`refreshToken`),
  KEY `fk_authTokens_userID` (`userID`),
  KEY `idx_authTokens_exp` (`expiresAt`),
  CONSTRAINT `fk_authTokens_userID` FOREIGN KEY (`userID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=562 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authtokens`
--

LOCK TABLES `authtokens` WRITE;
/*!40000 ALTER TABLE `authtokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `authtokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bans`
--

DROP TABLE IF EXISTS `bans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `userID` bigint unsigned NOT NULL,
  `bannedBy` bigint unsigned NOT NULL,
  `banType` enum('temporary','permanent') NOT NULL,
  `reason` text NOT NULL,
  `bannedAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `expiresAt` datetime DEFAULT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `liftedAt` datetime DEFAULT NULL,
  `liftedBy` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_bans_bannedBy` (`bannedBy`),
  KEY `fk_bans_liftedBy` (`liftedBy`),
  KEY `idx_bans_userActive` (`userID`,`isActive`),
  CONSTRAINT `fk_bans_bannedBy` FOREIGN KEY (`bannedBy`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_bans_liftedBy` FOREIGN KEY (`liftedBy`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_bans_userID` FOREIGN KEY (`userID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bans`
--

LOCK TABLES `bans` WRITE;
/*!40000 ALTER TABLE `bans` DISABLE KEYS */;
INSERT INTO `bans` VALUES (3,106,1,'temporary','hacker','2026-08-19 12:08:13','2028-07-19 12:08:13',1,NULL,NULL);
/*!40000 ALTER TABLE `bans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coachavailabilityblocks`
--

DROP TABLE IF EXISTS `coachavailabilityblocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coachavailabilityblocks` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `coachID` bigint unsigned NOT NULL,
  `blockedDate` date NOT NULL,
  `startTime` time NOT NULL,
  `endTime` time NOT NULL,
  `note` varchar(255) DEFAULT NULL,
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_coachAvailabilityBlocks_coachID` (`coachID`),
  CONSTRAINT `fk_coachAvailabilityBlocks_coachID` FOREIGN KEY (`coachID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coachavailabilityblocks`
--

LOCK TABLES `coachavailabilityblocks` WRITE;
/*!40000 ALTER TABLE `coachavailabilityblocks` DISABLE KEYS */;
/*!40000 ALTER TABLE `coachavailabilityblocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coachclients`
--

DROP TABLE IF EXISTS `coachclients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coachclients` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `coachID` bigint unsigned NOT NULL,
  `clientID` bigint unsigned NOT NULL,
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_coachClients` (`coachID`,`clientID`),
  KEY `fk_coachClients_clientID` (`clientID`),
  CONSTRAINT `fk_coachClients_clientID` FOREIGN KEY (`clientID`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_coachClients_coachID` FOREIGN KEY (`coachID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coachclients`
--

LOCK TABLES `coachclients` WRITE;
/*!40000 ALTER TABLE `coachclients` DISABLE KEYS */;
INSERT INTO `coachclients` VALUES (16,95,99,'2026-07-24 21:17:46'),(17,95,100,'2026-07-24 21:17:46'),(18,95,101,'2026-07-24 21:17:46'),(19,96,78,'2026-07-25 13:02:07');
/*!40000 ALTER TABLE `coachclients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coachprofiles`
--

DROP TABLE IF EXISTS `coachprofiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coachprofiles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `userID` bigint unsigned NOT NULL,
  `advisorID` bigint unsigned DEFAULT NULL,
  `bio` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `specialty` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `experience` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `professionalTitle` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `certifications` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `specialties` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `publicProfile` tinyint(1) NOT NULL DEFAULT '1',
  `directMessaging` tinyint(1) NOT NULL DEFAULT '1',
  `instagramPage` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `certificateUrl` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `invitationCode` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `totalInvitations` int unsigned NOT NULL DEFAULT '0',
  `earnedPoints` int unsigned NOT NULL DEFAULT '0',
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `tel` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `price` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ville` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `userID` (`userID`),
  UNIQUE KEY `invitationCode` (`invitationCode`),
  KEY `idx_coachProfiles_advisorID` (`advisorID`),
  KEY `idx_coachProfiles_invCode` (`invitationCode`),
  CONSTRAINT `fk_coachProfiles_advisorID` FOREIGN KEY (`advisorID`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_coachProfiles_userID` FOREIGN KEY (`userID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coachprofiles`
--

LOCK TABLES `coachprofiles` WRITE;
/*!40000 ALTER TABLE `coachprofiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `coachprofiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coachreferrals`
--

DROP TABLE IF EXISTS `coachreferrals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coachreferrals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `inviterCoachID` bigint unsigned NOT NULL,
  `invitedCoachID` bigint unsigned NOT NULL,
  `invitationCode` varchar(64) NOT NULL,
  `pointsAwarded` int NOT NULL DEFAULT '40',
  `createdAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_invited_coach` (`invitedCoachID`),
  KEY `idx_inviter` (`inviterCoachID`),
  CONSTRAINT `fk_coachref_invited` FOREIGN KEY (`invitedCoachID`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_coachref_inviter` FOREIGN KEY (`inviterCoachID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coachreferrals`
--

LOCK TABLES `coachreferrals` WRITE;
/*!40000 ALTER TABLE `coachreferrals` DISABLE KEYS */;
/*!40000 ALTER TABLE `coachreferrals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coachreviews`
--

DROP TABLE IF EXISTS `coachreviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coachreviews` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `coachID` bigint unsigned NOT NULL,
  `clientID` bigint unsigned NOT NULL,
  `rating` tinyint unsigned NOT NULL,
  `comment` text,
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_coachReview` (`coachID`,`clientID`),
  KEY `idx_coachReviews_coachID` (`coachID`),
  KEY `idx_coachReviews_clientID` (`clientID`),
  CONSTRAINT `fk_coachReviews_clientID` FOREIGN KEY (`clientID`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_coachReviews_coachID` FOREIGN KEY (`coachID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coachreviews`
--

LOCK TABLES `coachreviews` WRITE;
/*!40000 ALTER TABLE `coachreviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `coachreviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conversations`
--

DROP TABLE IF EXISTS `conversations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conversations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `coachID` bigint unsigned NOT NULL,
  `clientID` bigint unsigned NOT NULL,
  `lastMessageAt` datetime DEFAULT NULL,
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_conversations` (`coachID`,`clientID`),
  KEY `fk_conversations_clientID` (`clientID`),
  KEY `idx_conversations_lastMsg` (`lastMessageAt`),
  CONSTRAINT `fk_conversations_clientID` FOREIGN KEY (`clientID`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_conversations_coachID` FOREIGN KEY (`coachID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversations`
--

LOCK TABLES `conversations` WRITE;
/*!40000 ALTER TABLE `conversations` DISABLE KEYS */;
INSERT INTO `conversations` VALUES (11,95,99,NULL,'2026-07-24 21:17:46'),(12,96,78,NULL,'2026-07-25 13:02:08'),(13,95,114,'2026-09-05 22:53:22','2026-09-05 22:53:13'),(14,123,130,'2026-09-10 13:52:15','2026-09-10 13:51:58');
/*!40000 ALTER TABLE `conversations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deleted_accounts`
--

DROP TABLE IF EXISTS `deleted_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deleted_accounts` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `original_user_id` bigint unsigned NOT NULL,
  `email_hash` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'SHA-256 of email, not reversible',
  `role` enum('client','coach','advisor','manager','admin') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'client',
  `deleted_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `deletion_ip` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_deleted_email_hash` (`email_hash`),
  KEY `idx_deleted_at` (`deleted_at`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deleted_accounts`
--

LOCK TABLES `deleted_accounts` WRITE;
/*!40000 ALTER TABLE `deleted_accounts` DISABLE KEYS */;
INSERT INTO `deleted_accounts` VALUES (1,122,'5ab05dd8e1e5db5fc33d49e374302088a32ad85fb2471423b8a095bfcf02d217','client','2026-09-10 11:27:45','102.101.20.151'),(2,128,'5ab05dd8e1e5db5fc33d49e374302088a32ad85fb2471423b8a095bfcf02d217','client','2026-09-10 11:28:43','102.101.20.151'),(3,129,'5ab05dd8e1e5db5fc33d49e374302088a32ad85fb2471423b8a095bfcf02d217','coach','2026-09-10 11:30:36','102.101.20.151');
/*!40000 ALTER TABLE `deleted_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gymreviews`
--

DROP TABLE IF EXISTS `gymreviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gymreviews` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `advisorID` bigint unsigned NOT NULL,
  `clientID` bigint unsigned NOT NULL,
  `rating` tinyint unsigned NOT NULL,
  `comment` text,
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_gymReview` (`advisorID`,`clientID`),
  KEY `idx_gymReviews_advisorID` (`advisorID`),
  KEY `idx_gymReviews_clientID` (`clientID`),
  CONSTRAINT `fk_gymReviews_advisorID` FOREIGN KEY (`advisorID`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_gymReviews_clientID` FOREIGN KEY (`clientID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gymreviews`
--

LOCK TABLES `gymreviews` WRITE;
/*!40000 ALTER TABLE `gymreviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `gymreviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `imageadvisor`
--

DROP TABLE IF EXISTS `imageadvisor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `imageadvisor` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idAdvisor` int NOT NULL,
  `UrlImage` varchar(600) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `imageadvisor`
--

LOCK TABLES `imageadvisor` WRITE;
/*!40000 ALTER TABLE `imageadvisor` DISABLE KEYS */;
/*!40000 ALTER TABLE `imageadvisor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invitations`
--

DROP TABLE IF EXISTS `invitations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invitations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `coachID` bigint unsigned NOT NULL,
  `invitedUserID` bigint unsigned NOT NULL,
  `pointsEarned` int unsigned NOT NULL DEFAULT '0',
  `status` enum('pending','accepted','refused') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `clickedAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `respondedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_invitations_coachID` (`coachID`),
  KEY `fk_invitations_invitedUserID` (`invitedUserID`),
  CONSTRAINT `fk_invitations_coachID` FOREIGN KEY (`coachID`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_invitations_invitedUserID` FOREIGN KEY (`invitedUserID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invitations`
--

LOCK TABLES `invitations` WRITE;
/*!40000 ALTER TABLE `invitations` DISABLE KEYS */;
/*!40000 ALTER TABLE `invitations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `managerprofiles`
--

DROP TABLE IF EXISTS `managerprofiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `managerprofiles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int NOT NULL,
  `ville` varchar(200) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `managerprofiles`
--

LOCK TABLES `managerprofiles` WRITE;
/*!40000 ALTER TABLE `managerprofiles` DISABLE KEYS */;
INSERT INTO `managerprofiles` VALUES (1,45,'Casablanca'),(2,46,'Marrakech'),(3,47,'CASABLANCA'),(4,48,'Casablanca'),(5,50,'Casablanca'),(6,51,'Casablanca'),(7,67,'Casablanca'),(8,108,'Casablanca'),(9,109,'Casablanca'),(10,111,'Casablanca'),(11,112,'Casablanca');
/*!40000 ALTER TABLE `managerprofiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `conversationID` bigint unsigned NOT NULL,
  `senderID` bigint unsigned NOT NULL,
  `body` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `isRead` tinyint(1) NOT NULL DEFAULT '0',
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_messages_senderID` (`senderID`),
  KEY `idx_messages_readStatus` (`conversationID`,`isRead`),
  CONSTRAINT `fk_messages_conversationID` FOREIGN KEY (`conversationID`) REFERENCES `conversations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_messages_senderID` FOREIGN KEY (`senderID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
INSERT INTO `messages` VALUES (49,11,95,'Salam Mehdi, did you complete today\'s strength session?',1,'2026-07-24 21:17:46'),(50,11,99,'Salam Coach! Yes, completed the squats at 100kg. Felt very strong today!',1,'2026-07-24 21:17:46'),(51,11,95,'Excellent! Make sure to drink enough water and rest well for tomorrow.',0,'2026-07-24 21:17:46'),(52,13,114,'yo',0,'2026-09-05 22:53:22'),(53,14,130,'Hello Coach, How are you doing ?',0,'2026-09-10 13:52:14');
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `recipientUserID` bigint unsigned NOT NULL,
  `type` varchar(40) NOT NULL,
  `title` varchar(120) NOT NULL,
  `body` varchar(255) NOT NULL,
  `relatedEntityID` bigint unsigned DEFAULT NULL,
  `actorName` varchar(120) DEFAULT NULL,
  `actorAvatar` text,
  `isRead` tinyint(1) NOT NULL DEFAULT '0',
  `uniqueKey` varchar(160) NOT NULL,
  `createdAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_notif_key` (`uniqueKey`),
  KEY `idx_recipient_read` (`recipientUserID`,`isRead`),
  KEY `idx_recipient_created` (`recipientUserID`,`createdAt`),
  CONSTRAINT `fk_notif_recipient` FOREIGN KEY (`recipientUserID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp_verifications`
--

DROP TABLE IF EXISTS `otp_verifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `otp_verifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `otp` varchar(10) NOT NULL,
  `type` varchar(50) NOT NULL DEFAULT 'signup',
  `expiresAt` timestamp NOT NULL,
  `isVerified` tinyint(1) NOT NULL DEFAULT '0',
  `createdAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_email_type` (`email`,`type`),
  KEY `idx_expires` (`expiresAt`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp_verifications`
--

LOCK TABLES `otp_verifications` WRITE;
/*!40000 ALTER TABLE `otp_verifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `otp_verifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `passwordresettokens`
--

DROP TABLE IF EXISTS `passwordresettokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `passwordresettokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `userID` bigint unsigned NOT NULL,
  `token` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiresAt` datetime NOT NULL,
  `usedAt` datetime DEFAULT NULL,
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `fk_passwordResetTokens_userID` (`userID`),
  KEY `idx_passwordResetTokens_exp` (`expiresAt`),
  CONSTRAINT `fk_passwordResetTokens_userID` FOREIGN KEY (`userID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `passwordresettokens`
--

LOCK TABLES `passwordresettokens` WRITE;
/*!40000 ALTER TABLE `passwordresettokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `passwordresettokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservations`
--

DROP TABLE IF EXISTS `reservations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `clientID` bigint unsigned NOT NULL,
  `coachID` bigint unsigned NOT NULL,
  `reservedDate` date NOT NULL,
  `reservedTime` time NOT NULL,
  `status` enum('pending','confirmed','cancelled') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `rejectionReason` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `cancellationReason` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `cancelledBy` enum('coach','manager') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `location` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `price` decimal(10,2) NOT NULL DEFAULT '0.00',
  `companyName` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_reservations_clientID` (`clientID`),
  KEY `idx_reservations_coachID` (`coachID`),
  KEY `idx_reservations_date` (`reservedDate`),
  KEY `idx_reservations_status` (`status`),
  CONSTRAINT `fk_reservations_clientID` FOREIGN KEY (`clientID`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_reservations_coachID` FOREIGN KEY (`coachID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservations`
--

LOCK TABLES `reservations` WRITE;
/*!40000 ALTER TABLE `reservations` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_blocks`
--

DROP TABLE IF EXISTS `user_blocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_blocks` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `blockerID` bigint unsigned NOT NULL,
  `blockedID` bigint unsigned NOT NULL,
  `createdAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_block` (`blockerID`,`blockedID`),
  KEY `idx_blockedID` (`blockedID`),
  CONSTRAINT `fk_blocked` FOREIGN KEY (`blockedID`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_blocker` FOREIGN KEY (`blockerID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_blocks`
--

LOCK TABLES `user_blocks` WRITE;
/*!40000 ALTER TABLE `user_blocks` DISABLE KEYS */;
INSERT INTO `user_blocks` VALUES (1,130,96,'2026-09-10 13:56:38');
/*!40000 ALTER TABLE `user_blocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_reports`
--

DROP TABLE IF EXISTS `user_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_reports` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `reporterID` bigint unsigned NOT NULL,
  `reportedID` bigint unsigned NOT NULL,
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` enum('user','message') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'user',
  `entityID` bigint unsigned DEFAULT NULL COMMENT 'ID of the specific message if type is message',
  `createdAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_reporter` (`reporterID`),
  KEY `idx_reported` (`reportedID`),
  CONSTRAINT `fk_reported` FOREIGN KEY (`reportedID`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_reporter` FOREIGN KEY (`reporterID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_reports`
--

LOCK TABLES `user_reports` WRITE;
/*!40000 ALTER TABLE `user_reports` DISABLE KEYS */;
INSERT INTO `user_reports` VALUES (1,130,95,'Inappropriate content','user',NULL,'2026-09-10 13:51:42');
/*!40000 ALTER TABLE `user_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firstName` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `lastName` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `phoneNumber` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `passwordHash` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` enum('client','coach','admin','manager','advisor') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'client',
  `gender` enum('Male','Female','Other') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `height` decimal(5,2) DEFAULT NULL,
  `avatarUrl` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `isPremium` tinyint(1) NOT NULL DEFAULT '0',
  `isApproved` tinyint(1) NOT NULL DEFAULT '0',
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `termsAccepted` tinyint(1) NOT NULL DEFAULT '0',
  `termsAcceptedAt` timestamp NULL DEFAULT NULL,
  `googleId` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fcmToken` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `authProvider` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'email',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `uniq_users_phone` (`phoneNumber`),
  KEY `idx_users_email` (`email`),
  KEY `idx_users_role` (`role`),
  KEY `idx_users_isApproved` (`isApproved`)
) ENGINE=InnoDB AUTO_INCREMENT=131 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `weighthistory`
--

DROP TABLE IF EXISTS `weighthistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `weighthistory` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `clientID` bigint unsigned NOT NULL,
  `weight` decimal(5,2) NOT NULL,
  `recordedAt` date NOT NULL,
  `note` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_weightHistory_clientID` (`clientID`),
  KEY `idx_weightHistory_date` (`clientID`,`recordedAt`),
  CONSTRAINT `fk_weightHistory_clientID` FOREIGN KEY (`clientID`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `weighthistory`
--

LOCK TABLES `weighthistory` WRITE;
/*!40000 ALTER TABLE `weighthistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `weighthistory` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-10 14:13:38
